* {
    margin: auto auto;
}

body {
    margin: 10px 10px;
    color: red;
}

header {
    color: blue;
    font-size: 10pt;
}

hr {
    height: 2px;
    background-color: gray;
    margin-top: 5px;
}

nav {
    margin-top: 20px;
}

img {
    margin-right: 50px;
}

.SL {
    margin: 20px 20px 8px;
    font-size: 15pt;
}

.google {
    margin: 10px 20px 8px;
    font-size: 13pt;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}