* {
    margin: auto auto;
}

body {
    margin: 10px 10px;
}

header {
    color: blue;
    font-size: 10pt;
}

hr {
    height: 2px;
    background-color: gray;
    margin-top: 5px;
}

nav {
    margin-top: 20px;
}

img {
    margin-right: 50px;
}